.App {
    text-align: center;
  }

.pokemon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 0;
    min-width: 25%;
    margin: 10px 10px;
    border: 1px gray solid;
    border-radius: 10px;
    background-color: rgba(236, 132, 132, 0.808);
    box-shadow: 2px 2px 2px;
  }

  .pokemon:hover {
    transform: translateY(-10px);
    transition: all 0.2s;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
  }
  
  .pokedex {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px;
  }